.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: block;
    width: 100%;
}

.slide-img {
    width: 100%;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}